{% extends 'shop/base.html' %}

{% block content %}
{% for product in products %}
<div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
        <img class="article-image" src="{{ product.image.url }}" border="0" alt="">
    </div>
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ product.name }}</h2>
    </div>
    <div class="description mdl-card__supporting-text mdl-card--expand">
        {{ product.description|linebreaksbr }}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="price mdl-typography--button">
            {{ product.price }}
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}